<div class="mt-1 mr-4">
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="/reception/e77d4178-5e50-419e-8c5f-7d148b7bf5e7" Match="NavLinkMatch.Prefix">
                <span aria-hidden="true"></span> Rezeption
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="/chat/1a5d8570-e1c4-43da-9463-f703e5098f38/e77d4178-5e50-419e-8c5f-7d148b7bf5e8" Match="NavLinkMatch.Prefix">
                <span aria-hidden="true"></span> Gast
            </NavLink>
        </div>
    </nav>
</div>
