@page "/"

<PageTitle>Home</PageTitle>

<h2>Skeleton Chat Applikation</h2>
<p>
    Dieses Projekt dient als einstiegshilfe für den Hackathon. <br/>
    Unter dem Punkt Rezeption kannst du einen Chat mit einem Gast öffnen und seine Fragen beantworten. <br/>
    Unter dem Punkt Gast kannst du als Gast mit der Rezeption in Kontakt treten.
</p>